@model Cpanel.Models.resetpass

@{
    ViewBag.Title = "GetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <div class="row">
        <!-- Left col -->
        <section class="col-md-8 connectedSortable col-md-offset-2">
            <!-- Own Transfer -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title my-box-header"></h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-1">

                            <h4>Customer Information</h4>

                            @*<dl class="dl-horizontal">
                                <dt>*@
                            <div class="table-responsive">
                                <table class=" table table-responsive">
                                    <tr>
                                        <th scope="row">
                                            @Html.DisplayNameFor(model => model.pass)
                                        </th>

                                        <td>
                                            @Html.DisplayFor(model => model.pass)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            @Html.DisplayNameFor(model => model.name)
                                        </th>

                                        <td>
                                            @Html.DisplayFor(model => model.name)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            @Html.DisplayNameFor(model => model.account)
                                        </th>

                                        <td>
                                            @Html.DisplayFor(model => model.account)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            @Html.DisplayNameFor(model => model.branchname)
                                        </th>

                                        <td>
                                            @Html.DisplayFor(model => model.branchname)
                                        </td>



                                    </tr>
                                </table>
                            </div>
                         
                        <p>
                            @*@Html.ActionLink("DownloadPdf", "getpassword", new { /* id = Model.PrimaryKey */ }) |*@
                            @* Save PDF *@
                            @using (Html.BeginForm("SavePDF", "resetCustomer"))
                            {
                                <br />


                                <div class="form-group">
                                    <div class="col-xs-10">
                                        <input type="submit" value="Print" class="btn btn-danger btn-block btn-flat" />
                                    </div>
                                </div>
                            }
                        </p>
                    </div>
                </div>

            </div>
    </div>
</section>
    </div>
</section>


