@model Cpanel.Models.CustomerRegBankinfo

@*@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Customeraccount</title>
</head>
<body>
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>CustomerRegBankinfo</h4>
            <hr />
            @Html.ValidationSummary(true)
    
            <div class="form-group">
                @Html.LabelFor(model => model.Branch, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Branch)
                    @Html.ValidationMessageFor(model => model.Branch)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Currency, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Currency)
                    @Html.ValidationMessageFor(model => model.Currency)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.AccountType, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AccountType)
                    @Html.ValidationMessageFor(model => model.AccountType)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.AccountNumber, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AccountNumber)
                    @Html.ValidationMessageFor(model => model.AccountNumber)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.CustomerCard, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CustomerCard)
                    @Html.ValidationMessageFor(model => model.CustomerCard)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.BranchCode, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BranchCode)
                    @Html.ValidationMessageFor(model => model.BranchCode)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.AccountTypecode, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AccountTypecode)
                    @Html.ValidationMessageFor(model => model.AccountTypecode)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.CurrencyCode, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CurrencyCode)
                    @Html.ValidationMessageFor(model => model.CurrencyCode)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.CustomerName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CustomerName)
                    @Html.ValidationMessageFor(model => model.CustomerName)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.CustomerID, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CustomerID)
                    @Html.ValidationMessageFor(model => model.CustomerID)
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>*@

<section class="content">
    <div class="row">
        <!-- Left col -->
        <section class="col-md-8 connectedSortable col-md-offset-2">
            <!-- Own Transfer -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title my-box-header"></h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-1">

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    <h4>Update Customer</h4>
                                    <hr />
                                    @Html.ValidationSummary(true)

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Branch, new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.DropDownListFor(model => model.BranchCode, Model.Branches, new { @class = "form-control ", @placeholder = "Branch..." })
                                            @*@Html.DropDownList("BranchList", (IEnumerable<SelectListItem>)ViewBag.branchList, "-- Select Branch --", new { @class = "form-control ", @placeholder = "Branch..." })*@
                                            @* @Html.EditorFor(model => model.Branch)*@
                                            @Html.ValidationMessageFor(model => model.BranchCode)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Currency, new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.DropDownListFor(model => model.CurrencyCode, Model.Currencies, "-- Select Currency --", new { @class = "form-control ", @placeholder = "Branch..." })
                                            @* @Html.DropDownList("CurrencyList", (IEnumerable<SelectListItem>)ViewBag.CurrencyList, "-- Select Currency --", new { @class = "form-control select2", @placeholder = "Branch..." })*@
                                            @*@Html.EditorFor(model => model.Currency)*@
                                            @Html.ValidationMessageFor(model => model.CurrencyCode)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.AccountType, new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.DropDownListFor(model => model.AccountTypecode, Model.AccTypes, "-- Select Account Type --", new { @class = "form-control ", @placeholder = "Branch..." })
                                            @*@Html.DropDownList("AccTypeList", (IEnumerable<SelectListItem>) ViewBag.AccTypesList, "-- Select Account Type --", new {@class = "form-control ", @placeholder = "Branch..."})*@
                                            @*@Html.EditorFor(model => model.AccountType)*@
                                            @Html.ValidationMessageFor(model => model.AccountTypecode)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.AccountNumber, new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(model => model.AccountNumber, new { @class = "form-control ", @placeholder = "Account #..." })
                                            @Html.ValidationMessageFor(model => model.AccountNumber)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.category, new { @class = "control-label col-md-2" })

                                        <div class="col-md-10">
                                            <p>
                                                @foreach (var a in Model.catgories)
                                                {

                                                    @Html.RadioButtonFor(b => b.CategoryCode, a.Value, new { @class = "radio-inline radio" })  @a.Text


                                                }
                                            </p>
                                            @Html.ValidationMessageFor(model => model.CategoryCode)

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-xs-5 col-xs-offset-2">
                                            <input type="submit" value="Submit" class="btn btn-danger btn-block btn-flat" />
                                        </div>
                                    </div>
                                </div>
                            }

                            @*<div>
                                    @Html.ActionLink("Back to List", "Registration")
                                </div>*@

                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</section>
@if (ViewBag.SuccessMessage != null)
{
    <script type="text/javascript">
                window.onload = function () {
                    alert("@ViewBag.SuccessMessage");
                };
    </script>
}