@model Cpanel.Models.userInsertModel

@*@{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Add</title>
    </head>
    <body>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>userInsertModel</h4>
                <hr />
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(model => model.user_id, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.user_id)
                        @Html.ValidationMessageFor(model => model.user_id)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.name, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.name)
                        @Html.ValidationMessageFor(model => model.name)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.user_name, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.user_name)
                        @Html.ValidationMessageFor(model => model.user_name)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.rolename, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.rolename)
                        @Html.ValidationMessageFor(model => model.rolename)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.branch_name, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.branch_name)
                        @Html.ValidationMessageFor(model => model.branch_name)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.roleid, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.roleid)
                        @Html.ValidationMessageFor(model => model.roleid)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BranchCode, new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.BranchCode)
                        @Html.ValidationMessageFor(model => model.BranchCode)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </body>
    </html>*@


@*@{
        Layout = null;
    }*@


<section class="content">
    <div class="row">
        <!-- Left col -->
        <section class="col-md-8 connectedSortable col-md-offset-2">
            <!-- Own Transfer -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title my-box-header"></h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            @*<i class="fa fa-minus"></i>*@
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-1">


                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    <h4> Personal information</h4>
                                    <hr />
                                    @Html.ValidationSummary(true)



                                    <div class="form-group">
                                        @Html.LabelFor(model => model.name, new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.name, new { @class = "form-control ", @placeholder = "Name #..." })
                                            @Html.ValidationMessageFor(model => model.name)
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        @Html.LabelFor(model => model.user_name, new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.user_name, new { @class = "form-control ", @placeholder = "UserName #..." })
                                            @Html.ValidationMessageFor(model => model.user_name)
                                        </div>
                                    </div>

                                    @*<div class="form-group">
                                            @Html.LabelFor(model => model.roleid, new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.roleid)
                                                @Html.ValidationMessageFor(model => model.roleid)
                                            </div>
                                        </div>*@
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Roles, new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.roleid, Model.Roles, "-- Select Role --", new { @class = "form-control ", @placeholder = "Role..." })

                                            @Html.ValidationMessageFor(model => model.roleid)
                                        </div>
                                    </div>

                                    @*<div class="form-group">
                                            @Html.LabelFor(model => model.user_branch, new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.user_branch)
                                                @Html.ValidationMessageFor(model => model.user_branch)
                                            </div>
                                        </div>*@
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.branch_name, new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(model => model.BranchCode, Model.Branches, "-- Select Branch --", new { @class = "form-control ", @placeholder = "Branch..." })
                                            @*@Html.DropDownList("BranchList", (IEnumerable<SelectListItem>)ViewBag.branchList, "-- Select Branch --", new { @class = "form-control ", @placeholder = "Branch..." })*@
                                            @* @Html.EditorFor(model => model.Branch)*@
                                            @Html.ValidationMessageFor(model => model.BranchCode)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-8 col-xs-offset-2">
                                            <input type="submit" value="Add" class="btn btn-success btn-block btn-flat" />
                                        </div>
                                    </div>

                                </div>
                            }

                            <div class="form-group">
                                @Html.ActionLink("Back to List", "Users", new { @class = "btn btn-lg btn-primary" })

                            </div>



                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</section>


