@using System.Web.Mvc.Html
@using System.Web.UI.WebControls
@model Cpanel.Models.Loginmodel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="login-box">

    <div class="login-logo">

        @*<img src="~/Content/icons/logo.png" />*@
        <p><b>Internet</b>Banking</p>
    </div>
    <!-- /.login-logo -->

    <div class="login-box-body my-box">
        <p class="login-box-msg">Sign in to start your session</p>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
                @Html.ValidationSummary(true)

                <div class="form-group has-feedback">
                    @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @placeholder = "userName" })
                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>


                <div class="form-group has-feedback">
                    @Html.TextBoxFor(model => model.Password, new
               {
                   @class = "form-control",
                   minlength = "8",
                   maxlength="20",
                   pattern = "\\[A-Za-z0-9]{8,20}",
                   @placeholder = "password",
                   @type = "password"
               })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>


                <div class="row">
                    <div class="col-xs-8">
                        
                    </div>
                    <!-- /.col -->

                    <div class="col-xs-4">
                        <input type="submit" value="Login" class="btn btn-primary btn-block btn-flat" onclick="return
                               displayprogressmessage(this, 'Loggin in...' );" />

                    </div>
                    <!-- /.col -->
                </div>

            </div>
        }
    </div>

</div>
<!-- /.login-box -->
<!-- jQuery 3 -->
<script src="~/Content/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="~/Content/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- iCheck -->
<script src="~/Content/plugins/iCheck/icheck.min.js"></script>
<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });
</script>

<script>

    function DisplayProgressMessage(ctl, msg) {

        $(ctl).prop("disabled", true);

        $(ctl).text(msg);



        return true;

    };

</script>

