@model Cpanel.Models.custinfo

@*@{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Update</title>
    </head>
    <body>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>custinfo</h4>
                <hr />
                @Html.ValidationSummary(true)*@
@*<div class="form-group">
        @Html.LabelFor(model => model.roleid, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.roleid)
            @Html.ValidationMessageFor(model => model.roleid)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.user_id, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.user_id)
            @Html.ValidationMessageFor(model => model.user_id)
        </div>
    </div>*@

<section class="content">
    <div class="row">
        <!-- Left col -->
        <section class="col-md-8 connectedSortable col-md-offset-2">
            <!-- Own Transfer -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title my-box-header"></h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            @*<i class="fa fa-minus"></i>*@
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-1">


                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    <h4> Personal information</h4>
                                    <hr />
                                    @Html.ValidationSummary(true)

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.user_name, new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(model => model.user_name, new { @class = "form-control ", @placeholder = "CustomerName #..." })
                                            @Html.ValidationMessageFor(model => model.user_name)
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.user_log, new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(model => model.user_log, new { @class = "form-control ", @placeholder = "UserName #..." })
                                            @Html.ValidationMessageFor(model => model.user_log)
                                        </div>
                                    </div>
                                  
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Profiles, new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.DropDownListFor(model => model.profileCode, Model.Profiles, "-- Select Profile --", new { @class = "form-control ", @placeholder = "Profile..." })
                                          
                                            @Html.ValidationMessageFor(model => model.profileCode)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.user_mobile, new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(model => model.user_mobile, new { @class = "form-control ", @placeholder = "Mobile #..." })
                                            @Html.ValidationMessageFor(model => model.user_mobile)
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.user_adrs, new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(model => model.user_adrs, new { @class = "form-control ", @placeholder = "User Address #..." })
                                            @Html.ValidationMessageFor(model => model.user_adrs)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.user_email, new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(model => model.user_email, new { @class = "form-control ", @placeholder = "User Email #..." })
                                            @Html.ValidationMessageFor(model => model.user_email)
                                        </div>
                                    </div>
                                    <div class="form-group" style="display:none">
                                        @Html.LabelFor(model => model.user_id, new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(model => model.user_id, new { @class = "form-control ", @placeholder = "User ID #..." })
                                            @Html.ValidationMessageFor(model => model.user_id)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-5 col-xs-offset-2">
                                            <input type="submit" value="Submit" class="btn btn-danger btn-block btn-flat" />
                                        </div>
                                    </div>

                                </div>
                            }


                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</section>


