@model Cpanel.Models.actAuthorizationinfo
 @{
    ViewBag.Title = "Details";

}



<div class="content">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <i class="fa fa-text-width"></i>
                    @*<h3 class="box-title">Customer Authorization</h3>*@
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-10">

                            <blockquote>

                                <dl class="dl-horizontal col-md-12">
                                    <dt style=" text-align left;">
                                        @Html.DisplayNameFor(model => model.Branch)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Branch)
                                    </dd>

                                    <dt style=" text-align left;">
                                        @Html.DisplayNameFor(model => model.Currency)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Currency)
                                    </dd>

                                    <dt style=" text-align left;">
                                        @Html.DisplayNameFor(model => model.AccountType)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.AccountType)
                                    </dd>

                                    <dt style=" text-align left;">
                                        @Html.DisplayNameFor(model => model.Customername)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Customername)
                                    </dd>

                                    <dt style=" text-align left;">
                                        @Html.DisplayNameFor(model => model.Customeraccount)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Customeraccount)
                                    </dd>

                                    @*<dt>
                    @Html.DisplayNameFor(model => model.CustomerID)
                </dt>*@

                                    @*<dd>
                    @Html.DisplayFor(model => model.CustomerID)
                </dd>*@

                                    <dt>



                                </dl>
                                <div id="resoan" style="display:none">
                                    <div class="ui-grid-solo">
                                        <div class="ui-block-a">
                                            <span>
                                                @Html.EditorFor(m => m.RejectReason)
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                                    <div class="btn-group" role="group" aria-label="First group">
                                        @Html.ActionLink("Authorize Account", "Authorize", new { id = Model.userid, act = Model.completeact },new { @class="btn btn-success btn-block btn-flat " })
                                    </div>
                                    <div class="btn-group" role="group" aria-label="Second group">
                                        @Html.ActionLink("Reject Account", "Reject", new { id = Model.userid, act = Model.completeact },new { @class="btn btn-danger  btn-block btn-flat " })


                                    </div>
                                </div>

                                @if (ViewBag.Message != null)
                                {
                                    <script type="text/javascript">
                                        window.onload = function () {
                                            alert("@ViewBag.Message");
                                        };
                                    </script>
                                }
                            </blockquote>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#resoan").hide();
    $("input[name='status']").on("change", function () {
        if ($(this).val() == "false") {
            $("#resoan").show();
        }
    });
</script>

